<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_4_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List is a muttable

In [6]:
#list examples
list1 = ["Sagar", 124, True, "male"]
print(type(list))
print(list1)

#<class 'type'> is metaclass which contains details about other sub calsses

<class 'type'>
['Sagar', 124, True, 'male']

In [4]:
fruit = ["Apple", "Mango", "Cherry"]
print(type(fruit))

<class 'list'>

In [7]:
bool = [True, False, False]
print(type(bool))

<class 'list'>

In [18]:
#Range of indexes
l1 = ["Apple","Bannana","Cherry","Guava","Kiwi","Mango"]
print(l1[2:5])
print(l1[:4])
print(l1[:])

['Cherry', 'Guava', 'Kiwi']
['Apple', 'Bannana', 'Cherry', 'Guava']
['Apple', 'Bannana', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [33]:
#Range of negative Indexes
l1 = ["Apple","Bannana","Cherry","Guava","Kiwi","Mango"]
print(l1[-4:-1])
print(l1[4:-1])

['Cherry', 'Guava', 'Kiwi']
['Kiwi']

In [36]:
l1 = ["Apple","Bannana","Cherry","Guava","Kiwi","Mango"]
l1[1] = "BlackCurrent"
print(l1)

['Apple', 'BlackCurrent', 'Cherry', 'Guava', 'Kiwi', 'Mango']

In [41]:
l1 = ["Apple","Bannana","Cherry","Guava","Kiwi","Mango"]
l1[1:3] = ["BlackCurrent","WaterMelon"]
print(l1)

['Apple', 'BlackCurrent', 'WaterMelon', 'Guava', 'Kiwi', 'Mango']

In [46]:
l1 = ["Apple","Bannana","Cherry","Guava","Kiwi","Mango"]
print(len(l1))
l1[1:] = ["Papaya"]
print(l1)
print(len(l1))

6
['Apple', 'Papaya']
2

In [48]:
#using append method we can insert element at the end of list
l1 = ["apple","mango","Bannana"]
print(len(l1))
l1.append("Orange")
print(l1)
print(len(l1))

3
['apple', 'mango', 'Bannana', 'Orange']
4

In [49]:
#using insert method we can insert element at after given particular index
l1 = ["apple","mango","Bannana"]
l1.insert(2,"Orange")
print(l1)

['apple', 'mango', 'Orange', 'Bannana']

In [52]:
#using extend method we can append one list with another
l1 = ["apple","mango","Bannana"]
l2 = ["Cherry","Papaya"]

l1.extend(l2)
print(l1)

l2.extend(l1)
print(l2)

['apple', 'mango', 'Bannana', 'Cherry', 'Papaya']
['Cherry', 'Papaya', 'apple', 'mango', 'Bannana', 'Cherry', 'Papaya']

In [57]:
#using remove function we can remove the specific item
l1 = ["apple","mango","Bannana",]
l2 = ["apple","mango","Bannana","mango"]

l1.remove("Bannana")
print(l1)

l2.remove("mango")
print(l2)

['apple', 'mango']
['apple', 'Bannana', 'mango']

In [63]:
#using pop method we can remove element from list if index is not specified it removes from last index
l1 = ["apple","mango","Bannana"]
l3 = l1.pop(1)
print(l1)
print(l3)

l2 = ["apple","mango","Bannana","mango"]
l2.pop(2)
print(l2)

['apple', 'Bannana']
mango
['apple', 'mango', 'mango']

In [69]:
#del and clear keywords are remove complete list
#del keyword directly removes list from location
#clear removes data-items from list but not list
l1 = ["apple","mango","Bannana"]
del l1
#print(l1)

l2 = ["apple","mango","Bannana"]
l2.clear()
print(l2)

[]

In [71]:
#for loop on list

l1 = ["apple","mango","Bannana"]
for x in l1:
  print(x)

apple
mango
Bannana

In [73]:
l1 = ["apple","mango","Bannana"]
for i in range(len(l1)):
  print(l1[i])

apple
mango
Bannana

In [85]:
#reverse a list
l1 = ["apple","mango","Bannana"]
r_l1 = []
for i in l1:
  r_l1 = [i] + r_l1
print(r_l1)

['Bannana', 'mango', 'apple']

In [76]:
l1 = ["apple","mango","Bannana"]
[print(x) for x in l1]

apple
mango
Bannana

[None, None, None]

In [88]:
#list comprehension
l1 = ["apple","mango","Bannana"]
n_l1 = []
for x in l1:
  if "a" in x:
    n_l1.append(x)
print(n_l1)

['apple', 'mango', 'Bannana']

In [93]:
l1 = ["apple","mango","Bannana"]
n_l1 = [x for x in l1 if "a" in x]
print(n_l1)

['apple', 'mango', 'Bannana']

In [95]:
#each list have a sort() method which sort in alphanumerical order
l1 = ["apple","mango","bannana"]
l1.sort()
print(l1)

['apple', 'bannana', 'mango']

In [99]:
l1 = [66,76,14,33,12,]
l1.sort()
print(l1)

[12, 14, 33, 66, 76]

In [100]:
#Descending sorting
l1 = [66,76,14,33,12]
l1.sort(reverse = True)
print(l1)

[76, 66, 33, 14, 12]

In [102]:
l1 = ["apple","mango","bannana"]
l2 = [11 , 12 , 13 ]
l3 = l1 + l2
print(l3)

['apple', 'mango', 'bannana', 11, 12, 13]

In [104]:
l1 = ["apple","mango","bannana"]
l2 = [11 , 12 , 13 ]
for x in l2:
  print(l2)

[11, 12, 13]
[11, 12, 13]
[11, 12, 13]

In [103]:
l1 = ["apple","mango","bannana"]
l2 = [11 , 12 , 13 ]

l1.extend(l2)

print(l1)

['apple', 'mango', 'bannana', 11, 12, 13]