<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Sagar")

Sagar

In [ ]:
#Slicing
b = "Hello World"
print(b[2:5])

llo

In [ ]:
b = "Hello World"
print(b[3:])

lo World

In [ ]:
b = "Hello, World"
print(b[-5:-2])

Wor

In [ ]:
b = "Hello I am Bhushan"
print(b.upper())

HELLO I AM BHUSHAN

In [ ]:
b = "HELLO!!!! Sagar"
print(b.lower())

hello!!!! sagar

In [ ]:
b = "Hello, World!"
print(a.strip())

Hello

In [ ]:
a = "Hello Sagar"
print(a.replace("a","t"))

Hello Stgtr

In [ ]:
a = "Hello World"
print(a.replace("Hel","Bell"))

Belllo World

In [ ]:
a = "Hello, World, I am, Sagar"
print(a.split(","))

['Hello', ' World', ' I am', ' Sagar']

In [ ]:
#Concatenate
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
print(a+" "+b)

Hello World

In [ ]:
a = "Hello"
b = input("Enter your Name:")
print(a+" "+b)

Enter your Name:Sagar
Hello Sagar

In [ ]:
age = str(input("Enter your age: "))
b = "My name is Sagar and I am "+ age +" Years old"
print(b)

Enter your age: 13
My name is Sagar and I am 13 Years old

In [ ]:
# Format Methods
age = input("Enter your age: ")
txt = "My name is Sagar and I am {}"
print(txt.format(age))

Enter your age: 342
My name is Sagar and I am 342

In [ ]:
qun = 23
itm_no = 123
price = 2000.00
my_order = "I want {} items which have iten number {} and price {}$."
print(my_order.format(qun,itm_no,price))

I want 23 items which have iten number 123 and price 2000.0$.

In [ ]:
#Format Method with Values
qun = 23
itm_no = 123
price = 2000.00
my_order = "I want {2} items which have iten number {0} and price {1} $."
print(my_order.format(qun,itm_no,price))

I want 2000.0 items which have iten number 23 and price 123 $.

In [ ]:
#String Methods
name = "Sagar"
print(name.capitalize())
#there are many methods which we can perform on String which are built-in Methods

Sagar

In [ ]:
#Python Operators
#operators are used to perform operations on variables and values
#python divides the operators in following group
#1.Arithmetic Operators
#2.Assignment Operators
#3.Comparision Operators
#4.Comaparator Operators
#5.Logical Operators
#6.Identity Operators
#7.Membership Operators
#8.Bitwise Operators

In [ ]:
#Arithmetic Operators

x = 19
y = 4

#Addition
print(x + y)

#Subtration
print(x - y)

#Multiplication
print(x * y)

#Division
print(x / y)

#Modulus
print(x % y)

#power(x^y)
print(x ** y)

#Floor Division(Give nearest rounded whole number)
print(x // y)

23
15
76
4.75
3
130321
4

In [ ]:
#Assignment Operators('=')

In [ ]:
#Comparative Operators(>,<,!=)
#( > => Greater than)
#( < => less than)
#( >= => Greater than equal to)
#( <= => less than equal to)
#( == => Equal to )
#( != => not equal to)

x = 5
print(x > 3 and x < 10)

a = 12
b = 13
print(a==b)

True
False

In [ ]:
num1 = int(input("Enter a value of num1: "))
num2 = int(input("Enter a value of num2: "))
if(num1 == num2):
  print("num1 is equal to num2")
elif(num1 > num2):
  print("num1 is greater than num2")
else:
  print("num2 is greater than num1")

Enter a value of num1: 76
Enter a value of num2: 876
num2 is greater than num1

In [ ]:
num1 = int(input("Enter a value of num1: "))
num2 = int(input("Enter a value of num2: "))
num3 = int(input("Enter a value of num: "))
if(num1 == num2 == num3):
  print("All the numbers are equal")
elif(num1 > num2 and num1 > num3):
  print("Num1 is greater than Num2 and Num3")
elif(num2 > num1 and num2 > num3):
  print("Num2 is greater than Num1 and Num3")
else:
  print("Num3 is greater than Num1 and Num2")

Enter a value of num1: 243
Enter a value of num2: 3
Enter a value of num: 32
Num1 is greater than Num2 and Num3

In [ ]:
a = 220
b = 324
print("a") if a > b else print("b")

b

In [ ]:
#AND operator
a = 221
b = 33
c = 352
if a > b and c > a:
  print("Both Conditions are true")

Both Conditions are true

In [ ]:
#OR operator
a = 12
b = 2
c = 1
if a > b or c > b:
  print("One of the Conditions are true")

One of the Conditions are true

In [ ]:
x = 41
if x > 10:
  print("X is greater than 10")
  if x > 20:
    print("X is also grater than 20")
else:
  print("X is greater than 41")

X is greater than 10
X is also grater than 20

In [ ]:
#identity operator
#it use to compare the objects
a = ["Apple","Mango"]
b = ["Apple","Mango"]
c = a
print(a is c)
print(a==c)

print(b is c)

print(b is a)

True
True
False
False

In [ ]:
a = ["Apple","Mango"]
b = ["Apple","Mango"]
c = a
print(a is not c)

print(a is not b)

print(b is a)

False
True
False

In [ ]:
#Bitwise Operator
#( && => Logical AND)
#( || => Logial OR)
#( >> => Right Shift)
#( << => Left Shift)

In [ ]:
#Python Loops
#Python has two primitive commands for loop
#1.While Loop
#2.For Loop

In [ ]:
#1.While Loop
i = 1
while i<6:
  print(i)
  i = i+1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer than 6")

1
2
3
4
5
i is no longer than 6