<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_9_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Regular Expressions
#A RegEx or REgular Expression, ia a sequence of character that forms a search pattern.
#RegEx can be used to check if a String contains the specified search pattern.
#Python has a built in package called re which can be used to work with Regular Expressions

In [8]:
#Check if the String starts with "The" and ends with "Spain"
import re
txt = "The rain in RCPIT"
x = re.search("RCPIT",txt)
if x:
  print("YES! We have the Match")
else:
  print("No Match Found")

YES! We have the Match

In [6]:
import re
txt = "That will be 56 and 89 Dollars"

#Find all the digit characters

x = re.findall("\d",txt)
print(x)

['5', '6', '8', '9']

In [7]:
import re
txt = "Hello Planet"

#Check if the String starts with hello

x = re.search("Hello",txt)
if x:
  print("\nYES! We have the Match")
else:
  print("\nNo Match Found")

YES! We have the Match

In [9]:
import re
txt = "helliamando hello planet"

#Search for a sequence that starts with "he" followed by 0 or more characters

x = re.findall("he.*o",txt)
print(x)

['helliamando hello']

In [10]:
import re
txt = "hello hello planet"

#Search for a sequence that starts with "he" followed by 1 or more characters

x = re.findall("he.+o",txt)
print(x)

['helliamando hello']

In [12]:
import re

#Return a list Containing every  charater "ai"

txt = "The rain in Spain"
x = re.findall("ai",txt)
print(x)

['ai', 'ai']

In [13]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal",txt)
print(x)

[]

In [16]:
import re

txt = "The rain in Spain"
x = re.search("\s",txt)
print("The first white space character is located in position: ",x.start())

The first white space character is located in position:  3

In [17]:
import re

txt = "The rain in Spain"
x = re.search("Portugal",txt)
print(x)

None

In [18]:
import re

txt = "The rain in Spain"
x = re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [19]:
#Replace the first two occurence of white space character with thew digit 9

import re

txt = "The rain in Spain and RCPIT"
x = re.sub("\s","9",txt,3)
print(x)

The9rain9in9Spain and RCPIT

In [ ]:
#Match Object
#A Match Object is an object  contaiing information about the search and the result

In [20]:
import re

txt = "The rain in Spain"
x = re.search("\s",txt)
print(x) # This will print an Object

<re.Match object; span=(3, 4), match=' '>

In [ ]:
#The match object has properties and methods used to retrieve information about the search about the search and the result
#span() returns a tuple containing tne start and the positions of the match
#string returns string passed to the function.
#group() returns the the part of the string where there was a match

In [26]:
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+",txt)
print(x.string)

The rain in Spain

In [27]:
import re
txt = "The rain in Spain"

#Search for the Upper case letter "S" in the beginig of a word, and print the word
x = re.search(r"\bS\w+",txt)
print(x.group())

Spain

In [29]:
import re
str = "564646467464896764867446846464646 646846 648964 4641646 45646 489464947 755 7457"
x = re.findall("[8-9]",str)
print(x)

['8', '9', '8', '8', '8', '8', '9', '8', '9', '9']