<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_10_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python OS module
#Python OS Module  provides the facility to establish the interaction between the user and the operating system.
#It offers many useful OS functions that are used to perform OS functions that are used to perform OS-based tasks and the related information about OS
#OS comes under python's standard utility modules. This module offers a portable way of using OS dependemt functionality.

In [ ]:
import  os
print(os.name)

posix

In [50]:
import os
os.mkdir("Sagar")

In [51]:
print(os.mkdir)

<built-in function mkdir>

In [52]:
import os
print(os.getcwd())

/content

In [53]:
import os
print(os.chdir("Sagar"))

None

In [ ]:
import os
try:
  #If file doesnot exist it throws IOError
  filename = "Python.txt"
  f = open(filename,"rU")
  text = f.read()
  f.close()

#Control statement dirctly jumps here if any line throws an error
except IOError:
  #print(os.error) will <Class 'OSError'>
  print("Problem Reading: "+ filename)

Problem Reading: Python.txt

<ipython-input-16-8ed9863b0380>:5: DeprecationWarning: 'U' mode is deprecated
  f = open(filename,"rU")

In [ ]:
#os.popen()

import os
#fd = "Python.txt"

#popen is similar to open()
f = open("C:\Sagar\Python.txt","w")
f.write("This is Open")
f = open("C:\Sagar\Python.txt","w")
f.close()

In [ ]:
#Read and Write data from text file
#'r' or 'rt' : read : default mode 'w' or 'wt' : write : if files exist : override, if file not exists : create 'a' or 'at' : append : if file the exists : append,
# if file does not exists : create 'r+' or 'rt+' : read and write 'a+' or 'at+' : append and read 'x' : Create file if not exist 't' : text mode 'b' : binary mode '+' : read and write mode

In [57]:
f = open("C:\Sagar\Python.txt","w+")
print(f.name)
print(f.mode)
print(f.readable())
print(f.writable())
print(f.closed)
f.close()
print(f.closed)

C:\Sagar\Python.txt
w+
True
True
False
True

In [65]:
f = open("C:\Sagar\Python.txt","w+")
f.write("Hello I am Sagar Birhade from Lauki Pada")
f.write("\nNear Asguard City")
f.close()

In [66]:
f = open("C:\Sagar\Python.txt","r")
print(f.read())
f.close()

Hello I am Sagar Birhade from Lauki Pada
Near Asguard City

In [ ]:
f = open("C:\Sagar\Python.txt","r")

In [ ]:
#Program to append data to existing file and then display the entire file

In [ ]:
#Program to count no. of  characters, words and lines in the file

In [ ]:
#Python Dates
#A date in python is not a data type of its own, but we can import a module named datetime to work with as date object.

In [ ]:
import datetime
x = datetime.datetime.now()
print(x)

2023-10-12 08:12:13.444610

In [ ]:
import datetime
x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2023
Thursday

In [ ]:
#Creating Date Objects
#To create a date,we can use the datetime() class (constructor) of the datetim e module.
#The datetime() class requires three parameters to create date: year,month,day

In [ ]:
import datetime
x = datetime.datetime(2003,7, 14)
print(x)

2003-07-14 00:00:00

In [ ]:
#The strftime() Method
#The datetime object has a method for formating data object into readable strings.
#The method is called strftime(), and takes one parameter format to specify the format of returned String.

In [ ]:
import datetime
x = datetime.datetime(2003,7, 14)
print(x.strftime("%C"))

20

In [ ]:
import datetime
x = datetime.datetime(2003,7, 14)
print(x.strftime("%D"))

07/14/03

In [ ]:
import datetime
x = datetime.datetime(2003,7, 14)
print(x.strftime("%B"))

July

In [ ]:
import datetime
x = datetime.datetime(2003,7, 14)
print(x.strftime("%c"))

Mon Jul 14 00:00:00 2003

In [ ]:
#Python program to print current date
from datetime import date

#Calling the today function of the date class

print("Today's date is:",date.today())

Today's date is: 2023-10-12

In [ ]:
from datetime import date

today = date.today()

print("Current Year is :",today.year)
print("Current Date is :",today.month)
print("Current Day is :",today.day)

Current Year is : 2023
Current Date is : 10
Current Day is : 12

In [ ]:
from datetime import datetime

#Getting Datetime from time stamp

date_time = datetime.fromtimestamp(5558882221)
print("Datetime from timestamp: ",date_time)

Datetime from timestamp:  2146-02-25 21:57:01

In [ ]:

from datetime import date

print("Today's date is:",date.min)
print("Today's date is:",date.max)

Today's date is: 0001-01-01
Today's date is: 9999-12-31

In [ ]:
from datetime import time

#calling the constructor
my_time = time(13,24,56)
print("Enteres time : ",my_time)

Enteres time :  13:24:56

In [ ]:
mt_time = time(minute = 12)
print("Time with one argument is: ",my_time)

Time with one argument is:  13:24:56

In [2]:
from datetime import time

#Creating time object
Time = time(12,24,36,1212)

#Converting Time object to string
str = Time.isoformat()
print("String Representation: ",str)
print(type(str))

String Representation:  12:24:36.001212
<class 'str'>

In [3]:
#Python program to demonstrate datetime object
from datetime import datetime

#Initializing constructor
a = datetime(1999,12,12)
print(a)

#Initializing constructor with time parameter
a = datetime(1999,12,12,12,12,12,43231)
print(a)

1999-12-12 00:00:00
1999-12-12 12:12:12.043231

In [7]:
from datetime import datetime

a = datetime(1999,12,12,12,12,12)
print("Year : ",a.year)
print("Month : ",a.month)
print("Hour : ",a.hour)
print("Minute : ",a.minute)
print("Time Stamp : ",a.timestamp())

Year :  1999
Month :  12
Hour :  12
Minute :  12
Time Stamp :  945000732.0

In [8]:
from datetime import datetime

#calling now() function

today = datetime.now()

print("Current date time is: ",today)

Current date time is:  2023-10-13 08:27:54.045187

In [9]:
from datetime import datetime as dt

#dating current data and time
now = dt.now()

string = dt.isoformat(now)
print(string)
print(type(string))

2023-10-13T08:36:37.042770
<class 'str'>

In [11]:
x = min(5,10,25)
y = max(5,10,25)
print(x)
print(y)

5
25

In [13]:
x = abs(-7.25)
#Retrurn positive value
print(x)

7.25

In [14]:
x = pow(5,2)
print(x)

25

In [15]:
#import with math Library
import math
print(math.pi)

3.141592653589793

In [17]:
import math

r = int(input("Enter a radius: "))
print("Area of Circle is: ",math.pi*r*r)

Enter a radius: 4
Area of Circle is:  50.26548245743669

In [19]:
#import math library
import math

#Print the value of nan
print(math.nan)

nan

In [23]:
import math
a = 4.3

print("The ceil of 4.3 is: ",end="")
print(math.ceil(a))
print("The floor of 4.3 is : ",end="")
print(math.floor(a))

The ceil of 4.3 is: 5
The floor of 4.3 is : 4

In [25]:
import math
a = 5
print("THe factorial of 5 is: ",end="")
print(math.factorial(a))

THe factorial of 5 is: 120

In [26]:
import math
a = 25
b = 5
print("The end of 5 and 25 is: ",end="")
print(math.gcd(b,a))

The end of 5 and 25 is: 5

In [28]:
import math
a = -10
print("The absolute value of -10 is: ",end="")
print(math.fabs(a))

The absolute value of -10 is: 10.0

In [29]:
import math
test_int = 4
test_neg_int = -3
test_float = 0.00
print(math.exp(test_int))
print(math.exp(test_neg_int))
print(math.exp(test_float))

54.598150033144236
0.049787068367863944
1.0

In [30]:
print("The value  of 3**4 is: ",end="")
print(pow(3,4))

The value  of 3**4 is: 81

In [34]:
import math

print("The value of log 2 with base 3 is: ",end="")
print(math.log(2,3))

print("The value of log2 of 16 is: ",end="")
print(math.log2(16))

print("The value of log10 of 1000 is: ",end="")
print(math.log10(1000))

The value of log 2 with base 3 is: 0.6309297535714574
The value of log2 of 16 is: 4.0
The value of log10 of 1000 is: 3.0

In [37]:
import math

print(math.sqrt(3))

print(math.sqrt(81))

print(math.sqrt(3.6))

1.7320508075688772
9.0
1.8973665961010275

In [49]:
import math
a = math.pi/6
print("the value of sine of pi/6 is: ",end="")
print(math.sin(a))

print("the value of coine of pi/6 is: ",end="")
print(math.cos(a))

print("the value of tan of pi/6 is: ",end="")
print(math.tan(a))

the value of sine of pi/6 is: 0.49999999999999994
the value of coine of pi/6 is: 0.8660254037844387
the value of tan of pi/6 is: 0.5773502691896257