<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a Comment.
#Python Does Not Support Multi-Line Comments.

In [ ]:
print('Hello World')

Hello World

In [ ]:
x = 12
y = 'Sagar'
print(x)
print(y)

12
Sagar

In [ ]:
x = 14
x = 'Sagar'
print(x)

Sagar

In [ ]:
x = 12
type(x)

int

In [ ]:
x = 12
x = 'Sagar'
print(x)

Sagar

In [ ]:
x  = str(12)
y = int(10)
z = float(12.2)
print(x)
print(y)
print(z)

12
10
12.2

In [ ]:
#Multiple Variable Declaration
x , y , z = 'Mango','Bannana','Apple'
print(x)
print(y)
print(z)

Mango
Bannana
Apple

In [ ]:
x = y = z = 'Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#Unpacking
fruits = ['Mango','Bannana','Apple']
x , y , z = fruits
print(x)

Mango

In [ ]:
#Datatype : int
x = 5
print(type(x))

<class 'int'>

In [ ]:
#Datatype : str
x = 'Hello World'
print(x)
print(type(x))

Hello World
<class 'str'>

In [ ]:
#Datatype : list
x = ['Mango','Bannana','Apple']
print(x)
print(type(x))

['Mango', 'Bannana', 'Apple']
<class 'list'>

In [ ]:
#Datatype : tuple
x = ('Mango','Bannana','Apple')
print(x)
print(type(x))

('Mango', 'Bannana', 'Apple')
<class 'tuple'>

In [ ]:
#Datatype : bool
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
#Datatype : dict
x = {'Name' : 'Bhushan', 'Age' : 20 }
print(x)
print(type(x))

{'Name': 'Bhushan', 'Age': 20}
<class 'dict'>

In [ ]:
#Datatype : Range
x = range(20)
print(x)
print(type(x))

range(0, 20)
<class 'range'>

In [ ]:
#Taking User Input from User
x = input("Enter a Number : ")
print("You Enter a Number : ",x)

#default Datatype is String
print(type(x))

Enter a Number : 12
You Enter a Number :  12
<class 'str'>

In [ ]:
x = input("Enter First Number : ")
y = input("Enter Second Number : ")
print("Addition of two Number is : ",(x+y))
#Here Number is concatenated

Enter First Number : 12
Enter Second Number : 43
Addition of two Number is :  1243

In [ ]:
#Taking String Input
x = input("Enter your name : ")
print("Hello ",x)
print(type(x))

Enter your name : Sagar
Hello  Sagar
<class 'str'>

In [ ]:
#Casting
x = int(1)
y = int(2.0)
z = int("3")
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
eno = int(input("Enter Employee no : "))
ename = input("Enter Employee Name : ")
esal = float(input("Enter Employee Salary : "))
eaddr = input("Enter Employee Address : ")
married_or_not = input("Is Employee is Married or Not[True|False] : ")

if married_or_not == "True":
    married_or_not = True
else:
    married_or_not = False

print("\nEmployee Information is as follows:")
print("Employee Number is : ",eno)
print("Employee Name is : ",ename)
print("Employee Salary is : ",esal)
print("Employee Address is : ",eaddr)
print("Employee is Married or not : ",married_or_not)

Enter Employee no : 12
Enter Employee Name : Sagar
Enter Employee Salary : 120000
Enter Employee Address : Shirpur
Is Employee is Married or Not[True|False] : False

Employee Information is as follows:
Employee Number is :  12
Employee Name is :  Sagar
Employee Salary is :  120000.0
Employee Address is :  Shirpur
Employee is Married or not :  False

In [ ]:
a = "Hello World"
print(a[0])
print(a[10])

H
d

In [ ]:
x = "Sagar"
print(len(x))

5

In [ ]:
txt = "The Best Things in the world are free"
if "free" in txt:
    print("expensive" not in txt)

True

In [ ]:
b = " Hello World"
print(b[2:5])

ell

In [ ]:
#Control Statements
#1. Conditional Statements
#    -> if
#    -> elif
#    -> else
#2. Looping Statements
#    -> For
#    -> While
#    -> Break
#    -> Continue

In [ ]:
#if
num = 12
if(num == 12):
  print("Hello Sagar")

Enter a value of num1: 12
Enter a value of num2: 12
num1 is equal to num2

In [ ]:
#elif
num = int(input("Enter any Number: "))
if(num % 2 == 0):
  print("Entered Number is Even")
else:
  print("Entered Number is Odd")

Enter any Number: 10
Entered Number is Even

In [ ]:
#else
num1 = int(input("Enter a value of num1: "))
num2 = int(input("Enter a value of num2: "))
if(num1 == num2):
  print("num1 is equal to num2")
elif(num1 > num2):
  print("num1 is greater than num2")
else:
  print("num2 is greater than num1")

Enter a value of num1: 12
Enter a value of num2: 34
num2 is greater than num1

In [ ]:
#While Loop
i = 1
while i<6:
  print(i)
  i = i+1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer than 6")

1
2
3
4
5
i is no longer than 6

In [ ]:
#For Loop over a List
fruits = ["Apple", "Mango", "Bannana"]
for x in fruits:
  print(x)#For Loop over a List
fruits = ["Apple", "Mango", "Bannana"]
for x in fruits:
  print(x)

Apple
Mango
Bannana

In [ ]:
#For Loop over a String
for x in "Bannana":
  print(x)

B
a
n
n
a
n
a

In [ ]:
#For Loop over a Tuple
fruits = ("Apple","Mango","Bannana","cherry")
for x in fruits:
  print(x)

Apple
Mango
Bannana
cherry

In [ ]:
#For Loop over a Dictionary
fruits = {"Apple","Mango","Bannana","cherry"}
for x in fruits:
  print(x)

Mango
Apple
Bannana
cherry

In [ ]:
fruits = ["Apple", "Mango", "Bannana","Cherry"]
for x in fruits:
  print(x)
  if x == "Bannana":
    break

Apple
Mango
Bannana

In [ ]:
fruits = ["Apple", "Mango", "Bannana","Cherry"]
for x in fruits:
  if x == "Bannana":
    break
  print(x)

Apple
Mango

In [ ]:
#Break
for i in range(1, 11):
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)

1
2
3
4

In [ ]:
#Continue
for i in range(1, 11):
    if i % 2 == 0:
        continue   # Skip even numbers
    print(i)

1
3
5
7
9