<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_3_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#For Loop over a List
fruits = ["Apple", "Mango", "Bannana"]
for x in fruits:
  print(x)

Apple
Mango
Bannana

In [ ]:
#For Loop over a String
for x in "Bannana":
  print(x)

B
a
n
n
a
n
a

In [ ]:
#For Loop over a Tuple
fruits = ("Apple","Mango","Bannana","cherry")
for x in fruits:
  print(x)

Apple
Mango
Bannana
cherry

In [ ]:
#For Loop over a Dictionary
fruits = {"Apple","Mango","Bannana","cherry"}
for x in fruits:
  print(x)

Apple
Mango
Bannana
cherry

In [ ]:
fruits = ["Apple", "Mango", "Bannana","Cherry"]
for x in fruits:
  print(x)
  if x == "Bannana":
    break

Apple
Mango
Bannana

In [ ]:
fruits = ["Apple", "Mango", "Bannana","Cherry"]
for x in fruits:
  if x == "Bannana":
    break
  print(x)

Apple
Mango

In [ ]:
#Function in Python
#Function is block of code which can run  when it is called and it return result
#We can pass data to the function which is known as "Parameters"

In [ ]:
#Creating a Function
#For creating a function we us "def" keyword
def my_function():
  print("Hello! I am Sagar")

In [ ]:
#To call the function use the function name following by paranthesis
def my_function():
  print("Hello! I am Sagar")
my_function()

Hello! I am Sagar

In [ ]:
#Arguments
#Informatio can be passed into the function in the from of arguments
#We can passed the argument after ther function name inside the paranthesis
#We can pass as many as arguments we want

In [ ]:
def my_function(name):
  print("Hello "+name)

my_function("Sagar")
my_function("Hrishi")
my_function("Jatin")

Hello Sagar
Hello Hrishi
Hello Jatin

In [ ]:
#Parameters or Arguments
#From Functions prespective:
  #A Parameters is the variables listed inside the function when it is called.
  #An Argument id the value that is sent to the function when it is called.
#Number of an arguments is must have correct while calling it.

In [ ]:
def my_function(fname,lname):
  print(fname+" "+lname)

my_function("Sagar","Patil")

Sagar Patil

In [ ]:
#Arbitrary Arguments
#If we dont know how many number of arguments that will be passed into your function ,
#add "*" before the parameter name in the function definition

In [ ]:
def my_function(*kids):
  print("The youngest child in house is "+kids[2])

my_function("Amit","Raj","Arun")

The youngest child in house is Arun

In [ ]:
def my_function(child1,child2,child3):
  print("The youngest child in house is "+child2)

my_function(child1 = "Amit",child2 = "Raj",child3 = "Arun")

The youngest child in house is Raj

In [ ]:
#Default Parameter value
#If we call funcion without parameters then it use parameters default Values

In [ ]:
def my_function(Country = "India"):
  print("Sagar is from country "+Country)
my_function("Russia")
my_function("Norway")
my_function()

Sagar is from country Russia
Sagar is from country Norway
Sagar is from country India

In [ ]:
#Passing a list is an argument
#You can send any data types of arguments to function(String,number,list,dictionary,etc.)
#and it will be iterated as the same data type inside the function

In [ ]:
#food is am parameter, and we pass fruits list as an argument hence fruit is pass to food and it iterated a list
def my_function(food):
  for x in food:
    print(x)

fruits = ["Apple","Mango","cherry"]
my_function(fruits)

Apple
Mango
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(12))
print(my_function(4))
print(my_function(5))

60
20
25

In [ ]:
#lamda function:-
#A lamba function is a small anonymous function.
#A lambda function can take any number of arguments but can only have one expression.
#lambda functions does not have name, and it no need to pass parameters in brackets

In [ ]:
#a =>  is an argument and a*10 is expression
#x is an function objet
x = lambda a:a*10
print(x(5))

50

In [ ]:
#Here both a and b are arguments, and it has only one function
x = lambda a,b:a+b
print(x(12,6))

18

In [ ]:
def my_func(n):
  return lambda a:a*n
doubler = my_func(2)
trippler = my_func(3)

print(doubler(11))
print(trippler(11))

22
33

In [ ]:
#Python Lits
#List[] are use to store a multiple items in a single variable.
#List[] is one of the built-in datatype among the 4 built-in data type

In [ ]:
#List items
#List items are ordered, changebale and allow duplicate values
#List items are indexed as item[0],item[1],.....

In [ ]:
mylist = ["Sagar","Mayur","Hrishi","Jatin","Sagar"]
print(mylist)

print(len(mylist))

['Sagar', 'Mayur', 'Hrishi', 'Jatin', 'Sagar']
5

In [ ]:
fruits = ["Mango","Apple","Cherry"]
number = [1, 2, 3, 4]
city = ["Dhule","Shirpur","Nasik"]
print(fruits)
print(number)
print(city)

['Mango', 'Apple', 'Cherry']
[1, 2, 3, 4]
['Dhule', 'Shirpur', 'Nasik']

In [ ]:
mixList = [1 , "Sagar" , "shirpur"]
print(mixList)

[1, 'Sagar', 'shirpur']