<a href="https://colab.research.google.com/github/Bhushan-14/Python/blob/main/Python_14_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("d:\\SacramentocrimeJanuary2006.csv")

In [ ]:
#display all column name
data.columns

Index(['cdatetime', 'address', 'district', 'beat', 'grid', 'crimedescr',
       'ucr_ncic_code', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
#selection
#Returns column with label col as Series
data['address']

0                          3108 OCCIDENTAL DR
1                         2082 EXPEDITION WAY
2                                  4 PALEN CT
3                              22 BECKFORD CT
4                            3421 AUBURN BLVD
5                          5301 BONNIEMAE WAY
6                               2217 16TH AVE
7                                   3547 P ST
8                            3421 AUBURN BLVD
9                           1326 HELMSMAN WAY
10                         2315 STOCKTON BLVD
11                               5112 63RD ST
12                          6351 DRIFTWOOD ST
13                       7721 COLLEGE TOWN DR
14                            8460 ROVANA CIR
15                              4856 11TH AVE
16                               6033 69TH ST
17                                   547 L ST
18                               3525 42ND ST
19                            5641 DORSET WAY
20                           5551 REXLEIGH CT
21                             1896 ARDEN WAY
22                        6168 RIVERSIDE BLVD
23                            415 SEXTANT WAY
24                                15 BASIN CT
25                               3340 62ND ST
26                          4280 DEER HILL DR
27                                2814 5TH ST
28                             1816 FLORIN RD
29                              1260 BELL AVE
                        ...
7554                       6125 STOCKTON BLVD
7555                        6645 VALLEY HI DR
7556              DIXIEANNE AVE / ERICKSON ST
7557                       2400 DEL PASO BLVD
7558                          8689 CARLIN AVE
7559    23RD AVE / MARTIN LUTHER KING JR BLVD
7560                       47TH ST / 14TH AVE
7561                       BROADWAY / 42ND ST
7562                           13TH ST / G ST
7563                     34TH ST / TEMPLE AVE
7564           STOCKTON BLVD / ELDER CREEK RD
7565                             1225 48TH ST
7566                             1416 18TH ST
7567                               925 3RD ST
7568                           16TH ST / Q ST
7569                        34TH ST / 3RD AVE
7570                             1856 3RD AVE
7571                  TAFT ST / EL CAMINO AVE
7572                           X ST / 33RD ST
7573                             3543 1ST AVE
7574                           3651 BRANCH ST
7575                       1857 DISCOVERY WAY
7576                 NATOMA WAY / ROANOKE AVE
7577                       7897 LA RIVIERA DR
7578                  39TH ST / STOCKTON BLVD
7579                           26TH ST / G ST
7580                       4011 FREEPORT BLVD
7581                           30TH ST / K ST
7582                       5303 FRANKLIN BLVD
7583        COBBLE COVE LN / COBBLE SHORES DR
Name: address, Length: 7584, dtype: object

In [ ]:
#Returns columns as a new DataFrame : selecting multipule columns
data[['address','district']]

                                    address  district
0                        3108 OCCIDENTAL DR         3
1                       2082 EXPEDITION WAY         5
2                                4 PALEN CT         2
3                            22 BECKFORD CT         6
4                          3421 AUBURN BLVD         2
5                        5301 BONNIEMAE WAY         6
6                             2217 16TH AVE         4
7                                 3547 P ST         3
8                          3421 AUBURN BLVD         2
9                         1326 HELMSMAN WAY         1
10                       2315 STOCKTON BLVD         6
11                             5112 63RD ST         6
12                        6351 DRIFTWOOD ST         4
13                     7721 COLLEGE TOWN DR         3
14                          8460 ROVANA CIR         6
15                            4856 11TH AVE         6
16                             6033 69TH ST         6
17                                 547 L ST         3
18                             3525 42ND ST         6
19                          5641 DORSET WAY         4
20                         5551 REXLEIGH CT         5
21                           1896 ARDEN WAY         2
22                      6168 RIVERSIDE BLVD         4
23                          415 SEXTANT WAY         2
24                              15 BASIN CT         5
25                             3340 62ND ST         6
26                        4280 DEER HILL DR         5
27                              2814 5TH ST         4
28                           1816 FLORIN RD         5
29                            1260 BELL AVE         2
...                                     ...       ...
7554                     6125 STOCKTON BLVD         6
7555                      6645 VALLEY HI DR         5
7556            DIXIEANNE AVE / ERICKSON ST         2
7557                     2400 DEL PASO BLVD         2
7558                        8689 CARLIN AVE         5
7559  23RD AVE / MARTIN LUTHER KING JR BLVD         6
7560                     47TH ST / 14TH AVE         6
7561                     BROADWAY / 42ND ST         6
7562                         13TH ST / G ST         3
7563                   34TH ST / TEMPLE AVE         6
7564         STOCKTON BLVD / ELDER CREEK RD         6
7565                           1225 48TH ST         3
7566                           1416 18TH ST         3
7567                             925 3RD ST         3
7568                         16TH ST / Q ST         3
7569                      34TH ST / 3RD AVE         6
7570                           1856 3RD AVE         4
7571                TAFT ST / EL CAMINO AVE         2
7572                         X ST / 33RD ST         6
7573                           3543 1ST AVE         6
7574                         3651 BRANCH ST         2
7575                     1857 DISCOVERY WAY         6
7576               NATOMA WAY / ROANOKE AVE         2
7577                     7897 LA RIVIERA DR         3
7578                39TH ST / STOCKTON BLVD         6
7579                         26TH ST / G ST         3
7580                     4011 FREEPORT BLVD         4
7581                         30TH ST / K ST         3
7582                     5303 FRANKLIN BLVD         4
7583      COBBLE COVE LN / COBBLE SHORES DR         4

[7584 rows x 2 columns]

In [ ]:
#Selection by position from series
data.iloc[1]

cdatetime                       1/1/06 0:00
address                 2082 EXPEDITION WAY
district                                  5
beat                             5A
grid                                   1512
crimedescr       459 PC  BURGLARY RESIDENCE
ucr_ncic_code                          2204
latitude                            38.4735
longitude                           -121.49
Name: 1, dtype: object

In [ ]:
# retrieving row by loc method : 2nd row
data.loc[2:5]

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
2,1/1/06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
5,1/1/06 0:00,5301 BONNIEMAE WAY,6,6B,1084,530.5 PC USE PERSONAL ID INFO,2604,38.526979,-121.451338

In [ ]:
# retrieving row by iloc method
data.iloc[2]

cdatetime                          1/1/06 0:00
address                             4 PALEN CT
district                                     2
beat                                2A
grid                                       212
crimedescr       10851(A)VC TAKE VEH W/O OWNER
ucr_ncic_code                             2404
latitude                               38.6578
longitude                             -121.462
Name: 2, dtype: object

In [ ]:
# retrieving rows by loc method
data.iloc[[4, 5, 6, 7]]

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
5,1/1/06 0:00,5301 BONNIEMAE WAY,6,6B,1084,530.5 PC USE PERSONAL ID INFO,2604,38.526979,-121.451338
6,1/1/06 0:00,2217 16TH AVE,4,4A,957,459 PC BURGLARY VEHICLE,2299,38.537173,-121.487577
7,1/1/06 0:00,3547 P ST,3,3C,853,484 PC PETTY THEFT/INSIDE,2308,38.564335,-121.461883

In [ ]:
# retrieving rows by loc method
data.iloc[4:8]

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
5,1/1/06 0:00,5301 BONNIEMAE WAY,6,6B,1084,530.5 PC USE PERSONAL ID INFO,2604,38.526979,-121.451338
6,1/1/06 0:00,2217 16TH AVE,4,4A,957,459 PC BURGLARY VEHICLE,2299,38.537173,-121.487577
7,1/1/06 0:00,3547 P ST,3,3C,853,484 PC PETTY THEFT/INSIDE,2308,38.564335,-121.461883

In [ ]:
#select a column using iloc
#iloc[rows,columns]
#iloc[start:end,start:end]
#here all row of 1st column
data.iloc[:,1]

0                          3108 OCCIDENTAL DR
1                         2082 EXPEDITION WAY
2                                  4 PALEN CT
3                              22 BECKFORD CT
4                            3421 AUBURN BLVD
5                          5301 BONNIEMAE WAY
6                               2217 16TH AVE
7                                   3547 P ST
8                            3421 AUBURN BLVD
9                           1326 HELMSMAN WAY
10                         2315 STOCKTON BLVD
11                               5112 63RD ST
12                          6351 DRIFTWOOD ST
13                       7721 COLLEGE TOWN DR
14                            8460 ROVANA CIR
15                              4856 11TH AVE
16                               6033 69TH ST
17                                   547 L ST
18                               3525 42ND ST
19                            5641 DORSET WAY
20                           5551 REXLEIGH CT
21                             1896 ARDEN WAY
22                        6168 RIVERSIDE BLVD
23                            415 SEXTANT WAY
24                                15 BASIN CT
25                               3340 62ND ST
26                          4280 DEER HILL DR
27                                2814 5TH ST
28                             1816 FLORIN RD
29                              1260 BELL AVE
                        ...
7554                       6125 STOCKTON BLVD
7555                        6645 VALLEY HI DR
7556              DIXIEANNE AVE / ERICKSON ST
7557                       2400 DEL PASO BLVD
7558                          8689 CARLIN AVE
7559    23RD AVE / MARTIN LUTHER KING JR BLVD
7560                       47TH ST / 14TH AVE
7561                       BROADWAY / 42ND ST
7562                           13TH ST / G ST
7563                     34TH ST / TEMPLE AVE
7564           STOCKTON BLVD / ELDER CREEK RD
7565                             1225 48TH ST
7566                             1416 18TH ST
7567                               925 3RD ST
7568                           16TH ST / Q ST
7569                        34TH ST / 3RD AVE
7570                             1856 3RD AVE
7571                  TAFT ST / EL CAMINO AVE
7572                           X ST / 33RD ST
7573                             3543 1ST AVE
7574                           3651 BRANCH ST
7575                       1857 DISCOVERY WAY
7576                 NATOMA WAY / ROANOKE AVE
7577                       7897 LA RIVIERA DR
7578                  39TH ST / STOCKTON BLVD
7579                           26TH ST / G ST
7580                       4011 FREEPORT BLVD
7581                           30TH ST / K ST
7582                       5303 FRANKLIN BLVD
7583        COBBLE COVE LN / COBBLE SHORES DR
Name: address, Length: 7584, dtype: object

In [ ]:
#sorting data frame by Year
# by default ascending order
data.sort_values('district')

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
4367,1/18/06 22:00,1671 W EL CAMINO AVE,1,1B,434,10851(A)VC TAKE VEH W/O OWNER,2404,38.613539,-121.499806
1425,1/7/06 0:30,4601 BLACKROCK DR,1,1A,136,459 PC BURGLARY VEHICLE,2299,38.657333,-121.495213
1420,1/7/06 0:01,5948 MEEKS WAY,1,1A,106,1708 US THEFT OF MAIL,2310,38.683789,-121.496349
1411,1/7/06 0:00,3260 NORDYKE DR,1,1C,418,459 PC BURGLARY VEHICLE,2299,38.626506,-121.476455
1409,1/7/06 0:00,3410 SHADOW TREE DR,1,1B,401,10851(A)VC TAKE VEH W/O OWNER,2404,38.628525,-121.505960
1405,1/6/06 23:30,1911 BANDON WAY,1,1B,411,10851(A)VC TAKE VEH W/O OWNER,2404,38.626315,-121.505472
1399,1/6/06 22:49,3224 NORTHSTEAD DR,1,1C,418,CASUALTY REPORT,7000,38.626162,-121.479786
1392,1/6/06 22:30,1510 PEBBLEWOOD DR,1,1C,425,10851(A)VC TAKE VEH W/O OWNER,2404,38.621307,-121.495891
1391,1/6/06 22:26,3561 TRUXEL RD,1,1A,337,JUVENILE DISURBANCE - I RPT,7000,38.634492,-121.502849
6550,1/27/06 17:45,3285 AZEVEDO DR,1,1B,410,10851(A)VC TAKE VEH W/O OWNER,2404,38.626808,-121.509693
1383,1/6/06 22:00,6 SOUTHBURY WAY,1,1A,113,594(B)(2)(A) VANDALISM/ -$400,2999,38.670873,-121.522963
6552,1/27/06 17:46,3301 FONG RANCH RD,1,1B,404,GANG ACTIVITY - I RPT,7000,38.630207,-121.496000
4873,1/20/06 20:00,1570 WATERWHEEL DR,1,1B,444,594(B)(2)(A) VANDALISM/ -$400,2999,38.610354,-121.496060
1379,1/6/06 22:00,6 SAGINAW CIR,1,1C,414,10851(A)VC TAKE VEH W/O OWNER,2404,38.624845,-121.497487
6554,1/27/06 18:00,TRUXEL RD / DEL PASO RD,1,1A,145,TRAFFIC-ACCIDENT-NON INJURY,5400,38.655999,-121.512052
4872,1/20/06 20:00,17 DEROW CT,1,1B,435,10851(A)VC TAKE VEH W/O OWNER,2404,38.614717,-121.496711
6556,1/27/06 18:00,3100 NORMINGTON DR,1,1C,418,594(B)(2)(A) VANDALISM/ -$400,2999,38.622969,-121.480692
1366,1/6/06 21:00,3131 SPARROW DR,1,1A,344,10851(A)VC TAKE VEH W/O OWNER,2404,38.630872,-121.530806
4896,1/20/06 22:00,110 LUNA GRANDE CIR,1,1B,401,10851(A)VC TAKE VEH W/O OWNER,2404,38.628163,-121.499109
6557,1/27/06 18:00,4800 WESTLAKE PKWY,1,1A,130,THREATS - I RPT,7000,38.657985,-121.541883
3641,1/16/06 8:00,819 POTOMAC AVE,1,1C,418,594(B)(2)(A) VANDALISM/ -$400,2999,38.622605,-121.480831
6520,1/27/06 16:00,123 RIVER RUN CIR,1,1C,426,594(B)(2)(A) VANDALISM/ -$400,2999,38.620116,-121.489333
1492,1/7/06 9:59,2814 ROSEAU WAY,1,1B,421,487(A) GRAND THEFT-INSIDE,2308,38.617953,-121.521549
6478,1/27/06 13:12,300 BOWMAN AVE,1,1C,429,PROB VIOLA/FEL-MISD - I RPT,7000,38.617479,-121.470606
3613,1/16/06 0:01,1921 OAK BLUFF WAY,1,1B,423,484 PC PETTY THEFT,2399,38.620346,-121.504936
3614,1/16/06 0:01,3356 LA CADENA WAY,1,1A,102,POSSIBLE FINANCIAL CRIME-I RPT,7000,38.680984,-121.535913
4910,1/20/06 23:00,3301 LONG BRANCH CT,1,1B,401,459 PC BURGLARY VEHICLE,2299,38.628260,-121.509379
6488,1/27/06 14:00,1818 CLAYTON WAY,1,1A,136,VANDALISM - I RPT,7000,38.657990,-121.500447
4909,1/20/06 23:00,4500 TRUXEL RD,1,1A,306,459 PC BURGLARY VEHICLE,2299,38.653572,-121.509513
6492,1/27/06 14:16,ARENA BLVD / I 5 NB,1,1A,305,TRAFFIC-ACCIDENT INJURY,5400,38.642998,-121.519435
...,...,...,...,...,...,...,...,...,...
1588,1/7/06 18:13,64TH ST / 21ST AVE,6,6B,1068,10851 VC AUTO THEFT LOCATE,2404,38.532321,-121.429494
3090,1/13/06 16:47,7949 CARLTON RD,6,6C,1133,459 PC BURGLARY-UNSPECIFIED,2299,38.538303,-121.410598
6397,1/27/06 5:45,7341 ROTELLA DR,6,6C,1404,459 PC BURGLARY VEHICLE,2299,38.517674,-121.418485
6426,1/27/06 9:40,3632 52ND ST,6,6B,1054,243(E)1 BATTERY NONCOHAB SPOUS,1315,38.541001,-121.445815
3087,1/13/06 16:33,34TH ST / 21ST AVE,6,6A,1061,11364 HS POSS DRUG PARAPH,3599,38.533625,-121.470525
3104,1/13/06 18:00,15 CARTHAGE CT,6,6C,1443,MISSING PERSON,7000,38.505769,-121.418114
1551,1/7/06 15:25,STOCKTON BLVD / 48TH AVE,6,6C,1441,TRAFFIC-ACCIDENT-NON INJURY,5400,38.509468,-121.435394
3136,1/13/06 20:00,19TH AVE / 36TH ST,6,6A,1061,245(A)(2) AWDW/FIREARM/CIVILIA,1315,38.535386,-121.468201
3135,1/13/06 19:56,5610 STOCKTON BLVD,6,6B,1401,211 PC ROBBERY- BUSINESS,1299,38.524395,-121.442857
1516,1/7/06 12:03,79TH ST / TORONTO WAY,6,6C,1133,TRAFFIC-ACCIDENT INJURY,5400,38.531619,-121.412628
1517,1/7/06 12:09,3129 SAN JOSE WAY,6,6A,1032,212.5(A)ROBBERY-INHAB DWELLING,1299,38.546210,-121.459268
1519,1/7/06 12:16,4328 62ND ST,6,6B,1067,CASUALTY REPORT,7000,38.535252,-121.433011
3133,1/13/06 19:45,5041 46TH ST,6,6B,1084,594(B)(1)PC VANDALISM +$400,2999,38.529635,-121.452073
1524,1/7/06 13:00,5201 9TH AVE,6,6B,1035,484 PETTY THEFT/LICENSE PLATE,2399,38.543742,-121.445363
3130,1/13/06 19:30,4132 55TH ST,6,6B,1065,MISCELLANEOUS I RPT (ZMISC),7000,38.536514,-121.442416
6449,1/27/06 11:15,US 50 EB / 59TH ST,6,6B,1018,MISSING PERSON,7000,38.553093,-121.436615
5231,1/22/06 13:36,7541 38TH AVE,6,6C,1404,PROTECTIVE CUSTODY-I RPT,7000,38.519114,-121.415894
1526,1/7/06 13:09,7961 53RD AVE,6,6C,1445,243(E)1 BATTERY NONCOHAB SPOUS,1315,38.503897,-121.409697
3128,1/13/06 19:19,2500 35TH ST,6,6A,1013,529 PC FALSE PERSONATION,2604,38.554516,-121.467436
1533,1/7/06 14:00,4315 MARTIN LUTHER KING JR BLVD,6,6A,1062,459 PC BURGLARY BUSINESS,2203,38.535806,-121.462349
3125,1/13/06 19:05,5095 STOCKTON BLVD,6,6B,1086,594(B)(1)PC VANDALISM +$400,2999,38.528683,-121.443753
3124,1/13/06 19:00,6813 BENDER CT,6,6C,1131,459 PC BURGLARY VEHICLE,2299,38.534362,-121.424590
1538,1/7/06 14:13,7931 CAPISTRANO WAY,6,6C,1424,THREATS - I RPT,7000,38.511873,-121.411158
6437,1/27/06 10:36,6043 POWER INN RD,6,6C,1406,10851 VC AUTO THEFT LOCATE,2404,38.517492,-121.409025
1544,1/7/06 15:00,4820 76TH ST,6,6C,1143,CASUALTY REPORT,7000,38.531678,-121.416218
3108,1/13/06 18:00,3264 RAMONA AVE,6,6C,1113,10851(A)VC TAKE VEH W/O OWNER,2404,38.545224,-121.415719
3105,1/13/06 18:00,15 CARTHAGE CT,6,6C,1443,MISSING PERSON,7000,38.505769,-121.418114
6430,1/27/06 9:45,8151 POWER RIDGE RD,6,6C,1145,10851 VC AUTO THEFT LOCATE,2404,38.531579,-121.407542
1553,1/7/06 16:10,3946 2ND AVE,6,6A,1014,459 PC BURGLARY RESIDENCE,2204,38.550676,-121.461860
3791,1/16/06 22:00,5961 13TH AVE,6,6B,1056,459 PC BURGLARY VEHICLE,2299,38.540424,-121.436176

In [ ]:
#sorting data frame by Year in descending order
data.sort_values('district',ascending=False)

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
5428,1/23/06 10:44,3012 REDDING AVE,6,6C,1111,TOWED/STORED VEHICLE,7000,38.546570,-121.423442
1134,1/5/06 20:15,16TH AVE / STOCKTON BLVD,6,,1064,23220 VC DRINKING WHILE DRVING,5404,38.537896,-121.448870
2313,1/10/06 22:00,1 CLAUSS CT,6,6B,1084,10851(A)VC TAKE VEH W/O OWNER,2404,38.529359,-121.447171
6064,1/25/06 19:30,4592 58TH ST,6,6B,1065,MISSING PERSON,7000,38.533681,-121.438691
4418,1/19/06 7:46,130 PRAIRIE CIR,6,6C,1443,11350(B)HS POSSESS QUAALUDES,3582,38.509602,-121.417646
2316,1/10/06 22:00,8155 BELVEDERE AVE,6,6C,1134,484 PETTY THEFT/LICENSE PLATE,2399,38.538760,-121.406573
2318,1/10/06 22:15,ALHAMBRA BLVD / BROADWAY,6,6A,1001,647(B) PC PROSTITUTION,4004,38.556123,-121.472436
6071,1/25/06 20:00,5408 56TH ST,6,6B,1086,10851(A)VC TAKE VEH W/O OWNER,2404,38.525689,-121.440578
1126,1/5/06 20:00,3015 SAN CARLOS WAY,6,6A,1032,459 PC BURGLARY RESIDENCE,2204,38.546543,-121.461195
6072,1/25/06 20:13,4609 13TH AVE,6,6A,1053,TOWED/STORED VEHICLE,7000,38.540580,-121.452674
2320,1/10/06 22:23,2ND AVE / 57TH ST,6,6B,1018,11357(B)HS POSS -28.5GR MARIJ,3562,38.550802,-121.439210
4413,1/19/06 6:31,6351 GLENHILLS WAY,6,6C,1422,ACCIDENTAL FIRES/ARSON -I RPT,7000,38.511446,-121.419015
6077,1/25/06 20:30,37TH ST / 4TH AVE,6,6A,1014,11377(A)HS POSS AMPHETAMINES,3572,38.549900,-121.466254
4411,1/19/06 6:16,STOCKTON BLVD / BROADWAY,6,6A,1007,TOWED/STORED VEHICLE,7000,38.546756,-121.453840
2324,1/10/06 23:00,6300 POWER INN RD,6,6C,1424,211 PC ROBBERY- BUSINESS,1299,38.510847,-121.409591
6086,1/25/06 21:30,12TH AVE / 36TH ST,6,6A,1041,529 PC FALSE PERSONATION,2604,38.541163,-121.467627
6088,1/25/06 21:43,2924 38TH ST,6,6A,1014,NARCOTICS SUSP/EVID/ACT- I RPT,7000,38.549045,-121.464879
2326,1/10/06 23:00,4241 V ST,6,6B,1004,SUSP PERS-NO CRIME - I RPT,7000,38.556197,-121.455184
1114,1/5/06 19:43,3300 12TH AVE,6,6A,1051,11350(A)HS POSS CNTRL SUBST,3532,38.540972,-121.470827
6092,1/25/06 22:00,3224 44TH ST,6,6A,1034,10851(A)VC TAKE VEH W/O OWNER,2404,38.544858,-121.456057
1110,1/5/06 19:26,6001 RIZA AVE,6,6C,1441,HARASSMENT - I RPT,7000,38.505537,-121.435739
1109,1/5/06 19:18,6305 PANTANO DR,6,6C,1422,459 PC BURGLARY RESIDENCE,2204,38.512071,-121.423148
2331,1/10/06 23:34,2710 39TH ST,6,6A,1014,TOWED/STORED VEHICLE,7000,38.550786,-121.463097
2312,1/10/06 21:40,2ND AVE / BROADWAY,6,6A,1012,647(B) PC PROSTITUTION,4004,38.553173,-121.469877
2311,1/10/06 21:30,5520 STANDISH RD,6,6C,1152,10851(A)VC TAKE VEH W/O OWNER,2404,38.525670,-121.416235
6010,1/25/06 15:30,5750 VELMA WAY,6,6B,1401,459 PC BURGLARY RESIDENCE,2204,38.522250,-121.438714
6055,1/25/06 19:00,2150 STOCKTON BLVD,6,6B,1003,CASUALTY REPORT,7000,38.557278,-121.461432
6014,1/25/06 15:42,34TH ST / BROADWAY,6,6A,1013,TOWED/STORED VEH-14602.6,7000,38.552708,-121.469478
6018,1/25/06 16:15,6600 RANCHO MADERA WAY,6,6C,1443,10851(A)VC TAKE VEH W/O OWNER,2404,38.507131,-121.424320
4441,1/19/06 9:26,7260 LEMON HILL AVE,6,6C,1422,CASUALTY REPORT,7000,38.515989,-121.420310
...,...,...,...,...,...,...,...,...,...
5471,1/23/06 13:45,5626 POP BECKER ST,1,1A,106,487(A) PC GRAND THEFT,2303,38.676969,-121.502227
6677,1/28/06 2:00,2441 NORBERT WAY,1,1C,447,10851(A)VC TAKE VEH W/O OWNER,2404,38.611561,-121.482126
6679,1/28/06 2:30,2112 BLACKRIDGE AVE,1,1A,136,487(A) GRAND THEFT-AUTO PARTS,2304,38.663940,-121.506223
1552,1/7/06 15:30,TRUXEL RD / GATEWAY PARK BLVD,1,1A,338,TOWED/STORED VEHICLE,7000,38.637479,-121.503896
2386,1/11/06 8:00,2611 ERIN DR,1,1B,435,MISSING PERSON,7000,38.613445,-121.489014
3620,1/16/06 1:00,1948 OAK BLUFF WAY,1,1B,423,594(B)(2)(A)VANDALISM GRAF-400,2999,38.620755,-121.503505
2887,1/12/06 21:00,6 INCA CT,1,1C,428,10851(A)VC TAKE VEH W/O OWNER,2404,38.619235,-121.481261
1565,1/7/06 17:00,4500 TRUXEL RD,1,1A,306,459 PC BURGLARY VEHICLE,2299,38.653572,-121.509513
632,1/3/06 21:30,3379 PAUMANOK WAY,1,1A,102,459 PC BURGLARY RESIDENCE,2204,38.677449,-121.536542
6693,1/28/06 3:30,2700 DEL PASO RD,1,1A,305,487(A) PC GRAND THEFT-SHOPLIFT,2303,38.655435,-121.522376
6694,1/28/06 3:49,W EL CAMINO AVE / GATEWAY OAKS DR,1,1B,421,TOWED/STORED VEHICLE,7000,38.614370,-121.517143
2385,1/11/06 8:00,1620 W EL CAMINO AVE,1,1B,443,TELEPEST -I RPT,7000,38.612664,-121.498815
2889,1/12/06 21:00,3201 AZEVEDO DR,1,1B,410,10851(A)VC TAKE VEH W/O OWNER,2404,38.625042,-121.510297
6700,1/28/06 5:20,5350 DUNLAY DR,1,1A,104,459 PC BURGLARY BUSINESS,2203,38.672327,-121.513576
6724,1/28/06 9:00,3301 ARENA BLVD,1,1A,303,484 PETTY THEFT/LICENSE PLATE,2399,38.643788,-121.534159
3613,1/16/06 0:01,1921 OAK BLUFF WAY,1,1B,423,484 PC PETTY THEFT,2399,38.620346,-121.504936
2891,1/12/06 21:00,291 MENARD CIR,1,1A,136,BOMBS/THREATS/EXPLOSIV- I RPT,7000,38.664908,-121.497572
6705,1/28/06 6:15,TRUXEL RD / VALLARTA CIR,1,1B,404,211 PC ROBBERY UNSPECIFIED,1299,38.629111,-121.497905
2895,1/12/06 21:15,ARENA BLVD / E COMMERCE WAY,1,1A,305,20001(A) VC HIT/RUN INJ/DEATH,5401,38.642998,-121.519435
5449,1/23/06 12:00,2226 GATEWAY OAKS DR,1,1B,440,487(A) PC GRAND THEFT,2303,38.607512,-121.516010
5448,1/23/06 12:00,1871 CLAYTON WAY,1,1A,136,653M(A) PC OBSCENE/THREAT CALL,5309,38.658372,-121.501859
621,1/3/06 20:19,2319 MARINA GLEN WAY,1,1B,473,10851(A)VC TAKE VEH W/O OWNER,2404,38.603762,-121.539929
2384,1/11/06 7:51,ARENA BLVD / EL CENTRO RD,1,1A,303,TOWED/STORED VEHICLE,7000,38.643028,-121.539686
4308,1/18/06 18:00,3403 WINTER PARK DR,1,1B,401,10852 VC VEHICLE TAMPERING,2999,38.629272,-121.504565
6715,1/28/06 8:00,1577 GARDEN HWY,1,1B,451,459 PC BURGLARY VEHICLE,2299,38.604684,-121.522713
617,1/3/06 19:58,935 RANCHO ROBLE WAY,1,1C,405,MISCELLANEOUS I RPT (ZMISC),7000,38.631946,-121.482611
5443,1/23/06 11:44,3301 FONG RANCH RD,1,1B,404,BATTERY - I RPT,7000,38.630207,-121.496000
615,1/3/06 19:52,4900 NATOMAS BLVD,1,1A,145,459 PC BURGLARY RESIDENCE,2204,38.662605,-121.508008
1579,1/7/06 18:00,2614 ERIN DR,1,1C,436,10851(A)VC TAKE VEH W/O OWNER,2404,38.613981,-121.488614
6138,1/26/06 6:00,5100 ALDERBERRY WAY,1,1A,113,484 PETTY THEFT/LICENSE PLATE,2399,38.668354,-121.521502

In [ ]:
#Makes the changes in passed data frame itself if True
#data.sort_values('Year',inplace=True)

In [ ]:
#Based on Multipile column
data.sort_values(['Year','Industry_aggregation_NZSIOC'])

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
27810,2013,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,541042,ANZSIC06 divisions A-S (excluding classes K633...
27811,2013,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,473662,ANZSIC06 divisions A-S (excluding classes K633...
27812,2013,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,53770,ANZSIC06 divisions A-S (excluding classes K633...
27813,2013,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,13610,ANZSIC06 divisions A-S (excluding classes K633...
27814,2013,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,488612,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
4594,2019,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H36,Current ratio,Financial ratios,290,ANZSIC06 group S955
4595,2019,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H37,Quick ratio,Financial ratios,289,ANZSIC06 group S955
4596,2019,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H39,Return on equity,Financial ratios,5,ANZSIC06 group S955
4597,2019,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H40,Return on total assets,Financial ratios,4,ANZSIC06 group S955
4598,2019,Level 4,RS214,"Civil, Professional and Other Interest Groups",Percentage,H41,Liabilities structure,Financial ratios,86,ANZSIC06 group S955

In [ ]:
#Filtring
data

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,1/1/06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
...,...,...,...,...,...,...,...,...,...
7579,1/31/06 23:36,26TH ST / G ST,3,3B,728,594(B)(2)(A) VANDALISM/ -$400,2999,38.577832,-121.470460
7580,1/31/06 23:40,4011 FREEPORT BLVD,4,4A,957,459 PC BURGLARY BUSINESS,2203,38.537591,-121.492591
7581,1/31/06 23:41,30TH ST / K ST,3,3C,841,TRAFFIC-ACCIDENT INJURY,5400,38.572030,-121.467012
7582,1/31/06 23:45,5303 FRANKLIN BLVD,4,4B,969,3056 PAROLE VIO - I RPT,7000,38.527187,-121.471248
7583,1/31/06 23:50,COBBLE COVE LN / COBBLE SHORES DR,4,4C,1294,TRAFFIC-ACCIDENT-NON INJURY,5400,38.479628,-121.528634

In [ ]:
data[(data['district']==2)&(data['beat']=="2A")]

Empty DataFrame
Columns: [cdatetime, address, district, beat, grid, crimedescr, ucr_ncic_code, latitude, longitude]
Index: []

In [ ]:
data[(data['Year']==2014) | (data['Industry_aggregation_NZSIOC']=='Level 3')]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
62,2019,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H01,Total income,Financial performance,"4,788","ANZSIC06 groups A011, A012, and A013"
63,2019,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"4,471","ANZSIC06 groups A011, A012, and A013"
64,2019,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,132,"ANZSIC06 groups A011, A012, and A013"
65,2019,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H07,Non-operating income,Financial performance,185,"ANZSIC06 groups A011, A012, and A013"
66,2019,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H08,Total expenditure,Financial performance,"3,981","ANZSIC06 groups A011, A012, and A013"
...,...,...,...,...,...,...,...,...,...,...
32440,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32441,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32442,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32443,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
32444,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [ ]:
#count occurrences of each value
data['Year'].value_counts()

2015    4635
2014    4635
2013    4635
2019    4635
2018    4635
2017    4635
2016    4635
Name: Year, dtype: int64

In [ ]:
#creating a bool series from isin()
#return True if Variable_code has value H14
#data['Variable_code'].isin(['H14'])
#data['Year'].isin(['2019'])

0         True
1         True
2         True
3         True
4         True
         ...
32440    False
32441    False
32442    False
32443    False
32444    False
Name: Year, Length: 32445, dtype: bool

In [ ]:
df=pd.read_csv('annual-enterprise-survey-2019-financial-year-provisional-csv .csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32445 entries, 0 to 32444
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         32445 non-null  int64
 1   Industry_aggregation_NZSIOC  32445 non-null  object
 2   Industry_code_NZSIOC         32445 non-null  object
 3   Industry_name_NZSIOC         32445 non-null  object
 4   Units                        32445 non-null  object
 5   Variable_code                32445 non-null  object
 6   Variable_name                32445 non-null  object
 7   Variable_category            32445 non-null  object
 8   Value                        32445 non-null  object
 9   Industry_code_ANZSIC06       32445 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.5+ MB

In [ ]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
1,2019,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"643,809",ANZSIC06 divisions A-S (excluding classes K633...
2,2019,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"62,924",ANZSIC06 divisions A-S (excluding classes K633...
3,2019,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"21,505",ANZSIC06 divisions A-S (excluding classes K633...
4,2019,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"634,710",ANZSIC06 divisions A-S (excluding classes K633...

In [ ]:
df[(df['Industry_aggregation_NZSIOC']=="Level 1") & (df['Variable_code']=='H01')]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2019,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"728,239",ANZSIC06 divisions A-S (excluding classes K633...
31,2019,Level 1,AA,"Agriculture, Forestry and Fishing",Dollars (millions),H01,Total income,Financial performance,"45,620",ANZSIC06 division A
425,2019,Level 1,BB,Mining,Dollars (millions),H01,Total income,Financial performance,"6,223",ANZSIC06 division B
458,2019,Level 1,CC,Manufacturing,Dollars (millions),H01,Total income,Financial performance,"118,711",ANZSIC06 division C
1676,2019,Level 1,DD,"Electricity, Gas, Water and Waste Services",Dollars (millions),H01,Total income,Financial performance,"21,494",ANZSIC06 division D
...,...,...,...,...,...,...,...,...,...,...
31395,2013,Level 1,MN,"Professional, Scientific, Technical, Administr...",Dollars (millions),H01,Total income,Financial performance,38960,ANZSIC06 divisions M and N
31758,2013,Level 1,OO,"Public order, safety and regulatory services",Dollars (millions),H01,Total income,Financial performance,1042,"ANZSIC06 division O (excluding classes O753, O..."
31851,2013,Level 1,PP,Education and Training,Dollars (millions),H01,Total income,Financial performance,3402,ANZSIC06 division P
32001,2013,Level 1,QQ,Health Care and Social Assistance,Dollars (millions),H01,Total income,Financial performance,13520,ANZSIC06 division Q
32121,2013,Level 1,RS,"Arts, Recreation and Other Services",Dollars (millions),H01,Total income,Financial performance,15160,ANZSIC06 divisions R and S